.main-label-view {
    -fx-text-fill: white;
    -fx-font-size: 18;
}

.label-view {
    -fx-text-fill: "#CFCFCF";
    -fx-font-size: 16;
}

.button-view {
    -fx-background-color: Transparent;
    -fx-border-insets: 0 10 0 0;
    -fx-font-size: 16;
    -fx-text-fill: "#CFCFCF";
    -fx-background-radius: 0px;
}

.button-view:hover {
    -fx-background-color: "#363636";
}

.vbox-view {
    -fx-background-color: "#262626";
}

.combo-box {
    -fx-border-color: "#363636";
    -fx-border-width: 1;
    -fx-background-color: "#262626";
}

.combo-box .list-cell {
    -fx-text-fill: "#CFCFCF";
}

.combo-box .list-view .list-cell {
    -fx-text-fill: "#CFCFCF";
    -fx-background-color: "#262626";
}

.combo-box .list-view .list-cell:hover {
    -fx-background-color: "#363636";
}

.combo-box .list-view .list-cell:focused {
    -fx-background-color: "#363636";
}

.combo-box:hover {
    -fx-border-color: "#B0B0B0";
}