.task-vbox{
    -fx-background-color: "#262626";
}

.task-name-label{
    -fx-text-fill: white;
    -fx-font-size: 20;
}

.button-view {
    -fx-background-color: Transparent;
    -fx-border-insets: 0 10 0 0;
    -fx-font-size: 14;
    -fx-text-fill: "#CFCFCF";
    -fx-background-radius: 0px;
}

.button-view:hover {
    -fx-background-color: "#363636";
}

.label-view {
    -fx-text-fill: white;
    -fx-font-size: 14;
}

.text-field-view{
    -fx-background-radius: 0px;
    -fx-background-color: "#3C3F41";
    -fx-text-fill: "#CFCFCF";
    -fx-border-color: "#363636";
    /*-fx-border-color: white;*/
}

.text-field-view:hover {
    -fx-border-color: "#B0B0B0";
}

.text-field-view:focused{
    -fx-border-color: white;
    -fx-text-fill: white;
}

/*синтаксис*/

.operator{
    -fx-font-size: 12;
    -fx-text-fill: "#3783CD";
}

.text{
    -fx-font-size: 12;
    -fx-text-fill: "#C8C8C8";
}

.preprocessor-directive{
    -fx-font-size: 12;
    -fx-text-fill: "#9B9B9B";
}

.library{
    -fx-font-size: 12;
    -fx-text-fill: "#D69D85";
}

.define-operand1{
    -fx-font-size: 12;
    -fx-text-fill: "#BD63C5";
}

.define-operand2{
    -fx-font-size: 12;
    -fx-text-fill: "#DCDCDC";
}

.numbers{
    -fx-font-size: 12;
    -fx-text-fill: "#B5CEA8";
}

.string{
    -fx-font-size: 12;
    -fx-text-fill: "#9B9B9B";
}

/*синтаксис*/