.vbox-view {
    -fx-background-color: "#F0F0F0";
}

.button-view {
    -fx-background-color: Transparent;
    -fx-border-insets: 0 10 0 0;
    -fx-font-size: 16;
    -fx-text-fill: "#282828";
    -fx-background-radius: 0px;
}

.button-view:hover {
    -fx-background-color: "#D3D3D3";
}

.label-view {
    -fx-text-fill: black;
    -fx-font-size: 18;
}